<div class="container">
  <header>
    <h1>Discover</h1>
  </header>

  <div class="discover-card">
    <div class="discover-card-header">
      <%= image_tag("profile-picture", alt: "Edit Entry", class: "avatar") %>

      <div>
        <h5 class="discover-card-title">Title of the Song</h5>
        <p class="discover-card-subtitle">Artist Name</p>
      </div>

      <a href="#" class="btn btn-link" style="underline: none;">Hire Us</a>
    </div>


    <%= image_tag("post-image.jpg", class: "discover-card-image") %>


    <div class="discover-card-footer">
      <div class="discover-card-footer-info">
        <p style="margin: 0;">Plays: 100</p>
        <p style="margin: 0;">Likes: 50</p>
      </div>

      <div class="discover-card-footer-info">
        <button class="btn btn-outline-primary button-primary-stroke">Save</button>
        <button class="btn btn-outline-primary button-primary-stroke">Share</button>
      </div>
    </div>
  </div>
</div>
