<div class="home">
  <div class="main">
    <div>
      <h1 class="title">
        Discover Music Gems For Your Next Events
      </h1>
      <p class="subtitle">
        Connect with your favorite artists, track their next events and invest in them to support their careers.
      </p>
    </div>
    <button class="btnPrimary">
       <i class="ri-ticket-2-line ri-xl"></i>
      Get Started
    </button>
    <div class="events">
      <div>
        <h1 class="eventTitle">
          240k+
        </h1>
        <h2 class="eventH2" style="font-size: 16px; font-weight: 400;">
          Tracks
        </h2>
      </div>
      <div>
        <h1 class="eventTitle">
          20k+
        </h1>
        <h2 class="eventH2" style="font-size: 16px; font-weight: 400;">
          Events
        </h2>
      </div>
      <div>
        <h1 class="eventTitle">
          10k+
        </h1>
        <h2 class="eventH2" style="font-size: 16px; font-weight: 400;">
          Artists
        </h2>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="mainCard">
      <div class="card">
        <div class="header1">
          <%= image_tag("profile-picture.png", class: "imgCard avatar") %>
          <div>
            <p class="eventP">
              Electric Kush
            </p>
            <p class="eventP2">
              by Animakids
            </p>
          </div>
        </div>
         <i class="ri-more-2-line ri-xl"></i>
      </div>
      <%= image_tag("post-image.jpeg", class: "imgMain") %>
      <div class="footer">
        <div class="footer1">
          <div class="footerIcon">
             <i class="ri-play-circle-fill ri-xl play"></i>
            <p class="iconP">
              25.1k
            </p>
          </div>
          <div class="footerIcon">
             <i class="ri-heart-fill ri-xl"></i>
            <p class="iconP">
              1.5k
            </p>
          </div>
        </div>
         <i class="ri-bookmark-line ri-xl"></i>
      </div>
    </div>
  </div>
</div>
