<div class="container">
  <header>
    <h1>Discover</h1>
  </header>

  <div class="discover-card">
    <div class="discover-card-header">
      <%= image_tag("profile-picture", size: "50x50", alt: "Edit Entry") %>

      <div class="p-5">
        <h5 class="card-title">Title of the Song</h5>
        <p class="artist-name">Artist Name</p>
      </div>

      <a href="#" class="btn">Hire Us</a>
    </div>

    <div class="discover-card-image">
      <%= image_tag("post-image.jpg", class: ") %>
    </div>

    <div class="discover-card-footer">
        <p class="card-text">Plays: 100</p>
        <p class="card-text">Likes: 50</p>
        <button class="btn btn-primary">Save</button>
        <button class="btn btn-primary">Share</button>
      </div>
  </div>
</div>
