<div class="cover-profile-image-qYGvvW" data-id="1996:11239">
  <img class="image-place-holder-1JSqxm" data-id="I1996:11239;1905:3051" src="https://cdn.animaapp.com/projects/63aaf7e2426e9824f0350c11/releases/63aaf8f2426e9824f0350c13/img/image-placeholder-4@1x.png" alt="Image PlaceHolder">
  <div class="profile-image-1JSqxm" data-id="I1996:11239;1925:3001">
    <div class="avatar-DVlxwF smart-layers-pointers" data-id="I1996:11239;1905:3054"><div class="asset-12-2-6lM2gg" data-id="I1996:11239;1905:3054;1379:1356"><img class="avatar-placeholder-Yxxqzx" data-id="I1996:11239;1905:3054;1379:1356;1397:2470" src="https://cdn.animaapp.com/projects/63aaf7e2426e9824f0350c11/releases/63aaf8f2426e9824f0350c13/img/avatar-placeholder-137@2x.png" alt="Avatar Placeholder">
    </div>
  </div>
</div>
