.nav-container {
  background-color: $blue-80;
  width: 100%;
}

.icon-link {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.genre-filter-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 20px;
  overflow: auto;
  margin: 20px;
}

.genre-icon-link {
  color: $neutral-20;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $font-size-m;
}
