// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colors:
$background-blue-100: #1F1F2C;
$background-blue-80: #2A2A3F;
$background-blue-60: #3D4660;
$purple-primary: #A259FF;
$text-white-100: #FDFBFF;
$text-white-80: #706F8F;
$stroke-gray-100: #7A8193;
$stroke-gray-80: #4A4D64;
$remix-white: #F4F4F4;
$remix-purple: #A259FF;
