// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colors:
$blue-100-background: #1F1F2C;
$blue-80-background: #2A2A3F;
$blue-60-background: #3D4660;
$purple-primary: #A259FF;
$white-100-text: #ffffff;
$white-80-text: #AEB3D3;
$gray-100-details: #7A8193;
$gray-80-details: #4A4D64;
