// Size for the fonts
$font-size-l: 22px;
$font-size-m: 16px;
$font-size-s: 12px;
$font-size-xl: 28px;
$font-size-xxl: 38px;
$font-size-xxxl: 51px;
$font-size-xxxxl: 67px;

//Radius, padding & gap
$button-border-radius: 20px;
$button-gap: 12px;
$button-padding: 0px 50px;
$card-border-radius: 14px;
$card-gap: 25px;
$card-padding: 25px 16px;
//
