<p style="color: green"><%= notice %></p>

<h1>Bookings</h1>

<%# <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Booking System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bookings</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h1>Booking Index</h1>
    <table class="table mt-4">
      <thead>
        <tr>
          <th>Artist Name</th>
          <th>Email</th>
          <th>Event Name</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <% if booking.user.musician? %>
            <tr>
              <td><%= booking.user.name %></td>
              <td><%= booking.user.email %></td>
              <td><%= booking.event.name %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div> %>
