<div class="my-booking-container">
  <% if @my_bookings.empty? %>
    <p>Looks like you have no pending events, please look at all events to see play</p>
    <%= link_to "All Events", events_path, class: "btn btn-primary text-white my-5" %>
  <% else %>
    <% @my_bookings.each do |booking| %>

    <h2 class="text-white">Events I Applied To:</h2>
      <div class="my-booking-row">
        <% @my_bookings.each do |booking| %>
          <div class="my-booking-card">
            <div class="my-booking-card-body">
              <h5 class="card-title"><%= booking.event.title %></h5>
              <%= link_to "Details", event_path(booking.event), class: "my-event-details-button" %>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>
  <% end %>
</div>