<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>

  <div class="d-flex">

    <div class ="inspiration">
      <h1>ELEMENT LOGO</h1>
      <p>Get inspiration with the latest sounds from events</p>
      <p>Join our community</p>
    </div>

    <div class="explore">
    <h1>Exolore</h1>
      <p>Events</p>
      <p>Discover</p>
      </p>My Activities</p>
    </div>

    <div class="digest">
    <h1>Join Our Weekly Digest</h1>

  <div class="footer-copyright">
      © ELEMENT LOGO 2023
    </div>
  </div>
</div>
