<% if user_signed_in? %>
  <footer>
    <div class="container">
      <div class="row">

        <div class="section col-md-4">
            <%= link_to root_path, class: "navbar-brand" do %>
              <%= image_tag("/app/assets/images/mellow-logo.svg", alt: "logo", class: "navbar-brand-img", width: "200") %>
            <% end %>
          <div class="mt-4">
          <p>We are here to help artist, our main <br> goal is to help them be independent.</p>
          </div>
        </div>

        <div class="section col-md-4 d-flex flex-column">
          <h4>Look at</h4>
          <a class="text-white" href="discovers">Discover</a>
          <a class="text-white" href="events">Events</a>
          <a class="text-white" href="my_bookings">My Bookings</a>
          <a class="text-white" href="/users/edit">Profile</a>
        </div>

        <div class="section col-md-4 input-container">
          <h4>Join Our Weekly Digest</h4>
          <p>Get exclusive promotions & updates straight to your inbox</p>
          <!-- Add your input fields for the newsletter subscription here -->

          <form action="/subscribe" method="POST">
            <div class="d-flex position-relative">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <input id="email" name="email" type="email" class="email-input" placeholder="Enter your email" required>
              <button class="btn btn-primary sub-btn" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12 text-center">
          <div class="footer-links">
            <a href="https://github.com/"><i class="fs-3 text-white text-decoration-none fab fa-github text-purple"></i></a>
            <a href="https://www.youtube.com/"><i class="fs-3 text-white text-decoration-none fab fa-youtube text-purple"></i></a>
            <a href="https://twitter.com/"><i class="fs-3 text-white text-decoration-none fab fa-twitter text-purple"></i></a>
            <a href="https://www.instagram.com/"><i class="fs-3 text-white text-decoration-none fab fa-instagram text-purple"></i></a>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12 text-center">
          <p class="text-purple">© MELLOW*D 2023</p>
        </div>
      </div>

    </div>
  </footer>
<% end %>
