<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4" data-event-target="events">
    <% events.each do |event| %>
      <div class="col mb-4">
        <%= link_to event, class: "text-decoration-none" do %>
          <div class="card">
            <img src="https://picsum.photos/seed/picsum/200/200" class="rounded" style="border-radius: 15px !important;">
            <h5 style="margin-top: 10px; margin-left: 5px; margin-bottom: 10px;"><strong><%= event.title %></strong></h5>
            <p style="margin: 5px; color: #706F8F;"><strong>Duration:</strong> <%= event.duration %></p>
            <p style="margin: 5px; color: #706F8F;"><strong>Genre:</strong> <%= event.genre %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>