<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events" class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    <% @events.each do |event| %>
      <div class="col mb-4">
        <div class="card">
          <%= render event %>
          <div class="card-body">
            <p class="card-text">
              <%= link_to "Show this event", event %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New event", new_event_path %>
