<div id="events" class="container">
  <h1 class="display-4 text-white">Events</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    <% @events.each do |event| %>
      <div class="col mb-4">
        <%= link_to event, class: "text-decoration-none" do %>
          <div class="card">
            <img src="https://picsum.photos/seed/picsum/200/200" class="rounded" style="border-radius: 15px !important;">
            <%= render event %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div style="position: fixed; top: 80px; right: 20px;">
  <%= link_to "+", new_event_path, class: "text-xl rounded-circle btn btn-primary btn-lg" if policy(Event).new? %>
</div>