.card {
  border-radius: 14px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 14px;
  background: #51316b3d;
  transition: box-shadow 0.01s ease-in-out;
  color: white;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}

.card-show img {
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.rounded img {
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
