.discover-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  border-radius: $card-border-radius;
  background-color: $background-blue-80;
}

.discover-card-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px;
  gap: 25px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 20px;
}

.discover-card-title {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 600;
  font-size: $font-size-l;
  line-height: 140%;
  text-transform: capitalize;
  color: $text-white-100;
  margin: 0;
}

.discover-card-subtitle {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-m;
  line-height: 140%;
  color: $text-white-80;
  margin: 0;
}

.discover-card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 100%;
}

.discover-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  align-items: center;
}

.discover-card-footer-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.discover-card-title {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: $font-size-l;
}

.discover-card-footer-info > p {
  color: $text-white-80;
}
