.icon-link:hover {
    color: $primary !important;
    text-decoration: none;
}

.icon-link.active {
    color: $primary !important;
    text-decoration: none;
}

.icon-link {
  text-align: center !important;
}