.navbar-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-lewagon {
  display: flex;
  justify-content: space-around;
  background: #2A2A3F;
  z-index: 9999;
}

.navbar1{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar-nav{
  width: 100%;
  justify-content: space-around;
}

.navbar-lewagon .nav-item {
  color: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-nav li a {
  color: white;
  border-radius: 15px;
  padding: 10px;
  transition: border-radius 3.0s ease-in-out;
}

.navbar-nav li a:hover {
  background-color: white;
  border-radius: 15px;
}

button {
color: white;
}

@media (max-width: 576px) {
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .navbar-nav {
    flex-direction: row;
  }

}

@media (max-width: 576px) {
  .navbar-brand-img {
    display: none;
  }
  .container-fluid{
    display: none;
  }
}
