.card {
  border-radius: 10px;
  border: 2px, solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 14px;
  background: #191830;
  transition: box-shadow 0.01s ease-in-out;
  color: white;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}

.card-show {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 20px;
  background: #191830;
  color: white;
  line-height: 20px;
  transition: box-shadow 0.1s ease-in-out;
  font-family: 'Roboto', sans-serif;
}