.discover-container-headline {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.discover-container-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.discover-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
  text-align: center;
  color: $neutral-100;
}

.discover-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 160%;
  color: $neutral-40;
}

.discover-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.discover-info-number {
  color: $neutral-100;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: $font-size-l;
  line-height: 160%;
  margin-bottom: 0;
}

.discover-info-text {
  color: $neutral-100;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-m;
  line-height: 140%;
  margin-bottom: 0;
}

.discover-card-main-text {
  color: $neutral-100;
  font-style: normal;
  font-weight: 600;
  font-size: $font-size-m;
  line-height: 140%;
  margin: 0;
}

.discover-card-second-text {
  color: $neutral-20;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: 140%;
  margin: 0;
}

.discover-card {
  width: 330px;
  height: 460px;
  background-color: #2A2A3F;
  border-radius: 20px;
}

.discover-card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.discover-card-header {
  display: flex;
  gap: 20px;
}

.imgCard {
  width: 40px;
  height: 40px;
}

.discover-card-foot {
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.discover-card-footer {
  display: flex;
  gap: 20px;

}

.discover-card-footer-btn {
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
}

.discover-card-img {
  width: 330px;
  height: 306px;
}

@media (min-width: 740px) {
  .discover-card {
    width: 330px;
    height: 460px;
  }

  .discover-card-img {
    width: 330px;
    height: 306px;
  }

  .discover {
    display: flex;
  }

  .discover-title {
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-xl;
    line-height: 140%;
    text-transform: capitalize;
    text-align: center;
    color: $neutral-100;
  }

  .discover-subtitle {
    font-style: normal;
    font-weight: 400;
    font-family: "Space Mono";
    font-size: $font-size-m;
    text-align: center;
    line-height: 160%;
    color: $neutral-40;

  }
}

@media (min-width: 1140px) {
  .discover {
      display: flex;
  }

  .discover-title {
    font-size: 67px;
    line-height: 110%;
    text-align: left;
  }

  .discover-subtitle {
      font-size: $font-size-l;
      text-align: left;
      font-family: "Space Mono";
  }

  .discover-container-headline {
      align-items: flex-start;
      width: 60%;
  }

  .discover-info {
      justify-content: start;
      gap: 100px;
      width: 40%;
  }

  .discover-card {
      width: 510px;
      height: 580px;
  }

  .discover-card-img {
      width: 510px;
      height: 412px;
  }
}
