.main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 160%;
  color: #FFFFFF;
}

.btnPrimary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  width: 315px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}

.events {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.eventTitle {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
}

.eventH2 {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

}

.eventP {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin: 0;
}

.eventP2 {
  color: #7E7B92;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  margin: 0;
}

.mainCard {
  width: 330px;
  height: 460px;
  background-color: #2A2A3F;
  border-radius: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 25px;
}

.header1 {
  display: flex;
  gap: 20px;
}

.imgCard {
  width: 40px;
  height: 40px;
}

.footer {
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 20px 25px;
  align-items: center;
}

.footer1 {
  display: flex;
  gap: 20px;

}

.footerIcon {
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
}

.iconP {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #7E7B92;
  margin: 0;
}

.play {
  width: 16px;
  height: 16px;
}

.imgMain {
  width: 330px;
  height: 306px;
}

@media (min-width: 840px) {
  .mainCard {
    width: 330px;
    height: 460px;
  }

  .imgMain {
    width: 330px;
    height: 306px;
  }

  .home {
    display: flex;
  }

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 160%;
    color: #FFFFFF;
  }
}

@media (min-width: 1200px) {
  .home {
      display: flex;
  }

  .title {
    font-size: 67px;
    line-height: 110%;
    text-align: left;
  }

  .subtitle {
      font-size: 22px;
      text-align: left;
  }

  .main {
      align-items: flex-start;
  }

  .events {
      justify-content: start;
      gap: 100px;
  }

  .mainCard {
      width: 510px;
      height: 580px;
  }

  .imgMain {
      width: 510px;
      height: 412px;
  }
}
